.center{
  text-align: center;
  align-content: center;
}
.black{
  background: black;
}
body{
  background-color: black;
}
.body{
  background-color: black;
}
.center{
  text-align: center;
  align-content: center;
}
.detail{
  /*background-image: url(../img/background1.png);*/
}
